@model Chemistry_Cafe_API.Models.ReactionSpecy

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ReactionSpecy</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ReactionId" class="control-label"></label>
                <select asp-for="ReactionId" class="form-control" asp-items="ViewBag.ReactionId"></select>
                <span asp-validation-for="ReactionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpeciesId" class="control-label"></label>
                <select asp-for="SpeciesId" class="form-control" asp-items="ViewBag.SpeciesId"></select>
                <span asp-validation-for="SpeciesId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Role" class="control-label"></label>
                <input asp-for="Role" class="form-control" />
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
