# ignore all
*

# add things to copy
!.runsettings
!ChemistryCafeAPI.csproj
!ChemistryCafeAPI.http
!Citation.cff
!client_secrets.json
!Controllers
!LICENSE
!Models
!Program.cs
!Properties
!README.md
!Services
!Startup.cs
!appsettings.Development.json
!appsettings.Production.json
!appsettings.json
!.env
