.accessibility-widget {
    padding: 16px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
}

/* Additional styles for responsiveness */
@media (max-width: 768px) {
    div {
        flex-direction: column;
    }

    .accessibility-widget {
        padding: 12px;
        margin-bottom: 15px;
    }
}

/* Style for the banner */
.banner {
  background-color: #00797C;
  color: #FFF;
  font-size: 14px;
  text-align: center;
  padding: 15px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: fit-content;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner a {
  color: #fff; /* Default link color */
  text-decoration: underline;
}

.banner a:hover {
  color: #003366; /* Color on hover */
  text-decoration: none;
}

.banner-text {
  flex-grow: 1;
  padding: 0 10px;
}

.acceptBtn {
  background: none;
  border: 3px solid #fff;
  box-shadow: none;
  color: #fff;
  font-family: Poppins, sans-serif;
  font-size: .9375rem;
  margin-top: 10px;
  padding: 7px 10px;
  text-shadow: none;
  text-transform: uppercase;
  appearance: none;
  border-radius: 0;
}

  
.hidden {
  display: none;
}
