.layout-family-editor {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content-family-editor {
  flex: 1;
  display: grid;
  grid-template-areas: "familySelector familyView";
  grid-template-columns: 25% 75%;
  padding: 0 1rem 0 0;
}

.family-selector {
  grid-area: "familySelector";
}

.family-view {
  grid-area: "familyView";
}

.modal-visible {
  position: absolute;
  animation: slideIn 2.5s cubic-bezier(0, -0.01, 0.01, 1) infinite;
}

.modal-hidden {
  display: none;
}

@keyframes slideIn {
  from {
    left: -10%;
  }
  to {
    left: 0%;
  }
}
