@model Chemistry_Cafe_API.Models.MechanismSpecy

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MechanismSpecy</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MechanismId" class="control-label"></label>
                <select asp-for="MechanismId" class ="form-control" asp-items="ViewBag.MechanismId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SpeciesId" class="control-label"></label>
                <select asp-for="SpeciesId" class ="form-control" asp-items="ViewBag.SpeciesId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
