
    <button type="button" class="btn btn-primary" ng-model="purpose" btn-checkbox btn-checkbox-true="'addReference'" btn-checkbox-false="">Add a<br>Reference</button>
    <br />
    <hr>

    <!--
    Upload new file to server
    -->
    <div ng-show="purpose=='addReference'">
        <form class="form-horizontal">
        <div class ="form-group">
            <label class="col-sm-3 control-label">Label</label>
            <div class="col-sm-9 ">
                <input type="text" size="60" 
                     ng-model="label" placeholder="Short Unique Name (required)"><br /></input>
            </div>
        </div>
        <div class ="form-group">
            <label class="col-sm-3 control-label">http://</label>
            <div class="col-sm-9 ">
                <input type="text" size="60" 
                     ng-model="http" placeholder="Web Address (without http://)"><br /></input>
            </div>
        </div>
        <div class ="form-group">
            <label class="col-sm-3 control-label">http://doi.org/</label>
            <div class="col-sm-9 ">
                <input type="text" size="60" 
                     ng-model="doi" placeholder="DOI (if Applicable)"><br /></input>
            </div>
        </div>
        <div class ="form-group">
            <label class="col-sm-3 control-label">Details</label>
            <div class="col-sm-9 ">
                <input type="text" size="60" 
                     ng-model="detail" placeholder="Details about this ref"><br /></input>
            </div>
        </div>
        <div class ="form-group">
            <label class="col-sm-3 control-label">Citation</label>
            <div class="col-sm-9 ">
                <input type="text" size="200" 
                     ng-model="citation" placeholder="Citation"><br /></input>
            </div>
        </div>
        <div class ="form-group">
            <div ng-show="label.length > 0 && purpose=='addReference'" >
                <label class="col-sm-3 control-label">File:</label>
                <div class="col-sm-9 drop-box" ng-file-drop ng-model="files"
                    drag-over-class="dragover" ng-multiple="false" allow-dir="false"
                    accept="image/*,application/pdf">Drop Image or PDF file here.<br>Reference is created at drop.</div>
                <div ng-no-file-drop>File Drag/Drop is not supported for this browser</div>
            </div>
        </div>
        <div ng-show="label.length > 0 && purpose=='addReference'">
        <button type="button" class="btn btn-success" ng-show="label.length > 0 && purpose=='addReference'" ng-click="addRefNoFile()">Commit<br>Reference<br>Without<br>File</button>
        </div>
        </form>
        <hr>
    </div>

    <!--
    Display References
    -->
    <div ng-init="get_all_references()" ng-show="filteredItems > 0">
            <p> Filter </p>
            <input type="text" ng-model="name_filter" ng-change="filter()" placeholder="Reference Filter" >
            <h6 align="left">Showing {{ filtered.length }}/{{ totalItems}} of the Reactions in the Database</h4>
        <br/>
        <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered" >
            <thead>
                <th >ID</th>
                <th><a ng-click="sort_by('label');">label</a></th>
                <th><a ng-click="sort_by('filename');">Filename</a></th>
                <th><a ng-click="sort_by('username');">User</a></th>
                <th><a ng-click="sort_by('doi');">DOI</a></th>
                <th>citation</th>
                <th><a ng-click="sort_by('http');">http</a></th>
                <th><a ng-click="sort_by('detail');">detail</a></th>
            </thead>
            <tbody> 
            <tr ng-repeat="reference in filtered 
                            = (referencelist
                            | filter:name_filter
                            | orderBy : predicate :reverse) ">
                <td>{{ reference.id }}</td>
                <td>{{ reference.label }}</td>
                <td><a ng-click="fileshow(reference.id,reference.filename)">{{ reference.filename }}<a></td>
                <td>{{ reference.username }}</td>
                <td>{{ reference.doi }}</td>
                <td>{{ reference.citation }}</td>
                <td>{{ reference.http }}</td>
                <td>{{ reference.detail }}</td>
            </tr> 
            </tbody>
            </table>
        </div> <!-- end of div class col-md-12 -->
        <div class="col-md-12" ng-show="filteredItems == 0"> 
            <h4>References loading.... </h4> 
        </div> <!-- end of div class row -->
    </div>  <!-- ng-show -->
    <!-- end of display of reactions -->


