@model Chemistry_Cafe_API.Models.MechanismVersion

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>MechanismVersion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="MechanismId" class="control-label"></label>
                <select asp-for="MechanismId" class="form-control" asp-items="ViewBag.MechanismId"></select>
                <span asp-validation-for="MechanismId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VersionNumber" class="control-label"></label>
                <input asp-for="VersionNumber" class="form-control" />
                <span asp-validation-for="VersionNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tag" class="control-label"></label>
                <input asp-for="Tag" class="form-control" />
                <span asp-validation-for="Tag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublishedDate" class="control-label"></label>
                <input asp-for="PublishedDate" class="form-control" />
                <span asp-validation-for="PublishedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
