.layoutLoggedIn {
    height: 100vh;
    width: 100vw;
  
    display: grid;
    grid:
      "L1 M1 R1" 1fr
      "L2 M2 R2" 1fr
      "L3 M3 R3" 1fr
      "L4 M4 R4" 1fr
      "L5 M5 R5" 1fr
      "L6 M6 R6" 1fr
      "L7 M7 R7" 1fr
      "L8 M8 R8" 1fr
      "L9 M9 R9" 1fr
      / 1fr 1fr 1fr;
    background-color: #C3D7EE;
  }
  
  
  
  .L1 { grid-area: L1; }
  .M1 { grid-area: M1; }
  .R1 { grid-area: R1; }
  .L2 { grid-area: L2; }
  .M2 { grid-area: M2; }
  .R2 { grid-area: R2; }
  .L3 { grid-area: L3; }
  .M3 { grid-area: M3; }
  .R3 { grid-area: R3; }
  .L4 { grid-area: L4; }
  .M4 { grid-area: M4; }
  .R4 { grid-area: R4; }
  .L5 { grid-area: L5; }
  .M5 { grid-area: M5; }
  .R5 { grid-area: R5; }
  
  
  