.button-system-grid-container {
    overflow-y: auto;
  }
  
  .button-system-grid-container::-webkit-scrollbar {
    width: 8px;
  }
  
  .button-system-grid-container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  
  .button-system-grid-container::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .button-system-grid-container::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
  }
  