    <!--
    Add section
    -->
    <!--
    Modify groups
    -->
    <div ng-show="purpose=='editPhotolysisGroup' || purpose=='editReactionGroup' || purpose=='addReactionGroup' || purpose=='addPhotolysisGroup'">
        <form class="form-horizontal">
        <div class ="form-group">
            <label class="col-sm-3 control-label">Section Description:</label>
            <div class="col-sm-9 ">
                <input type="text" size=20 ng-model="edescription" placeholder="Section Description"><br />
            </div>
        </div>
        <input class="btn btn-primary" 
            type="button" 
            name="reset_form" 
            value="Cancel This Edit" 
            ng-click="reset()">
        <input class="btn btn-primary" 
            ng-show="purpose == 'editPhotolysisGroup'"
            type="button" 
            value="Modify" 
            ng-click="modify_photolysis_group()">
        <input class="btn btn-primary" 
            ng-show="purpose == 'editReactionGroup'"
            type="button" 
            value="Modify" 
            ng-click="modify_reaction_group()">
        <input class="btn btn-primary" 
            ng-show="purpose == 'addPhotolysisGroup'"
            type="button" 
            value="Add" 
            ng-click="create_photolysis_group()">
        <input class="btn btn-primary" 
            ng-show="purpose == 'addReactionGroup'"
            type="button" 
            value="Add" 
            ng-click="create_reaction_group()"><br />
         <hr>
    </div> <br/>

    <!--
    Display Reaction Groups
    -->
    <h4> Reaction Sections </h4>
    <input class="btn btn-primary" 
            type="button" 
            value="Add" 
            ng-click="purpose='addReactionGroup'"><br />
    <div> 
        <div class="row col-md-12">
            <table class="table table-striped table-bordered" >
<!--
-->
            <thead>
                <th>ID</th>
                <th>Edit?</th>
                <th>Description</th>
            </thead>
<!--
-->
            <tbody ui:sortable ng:model="reactionGroups"> 
            <tr ng-repeat="reactionGroup in reactionGroups" class="reactionGroup" style="cursor:move;">
                <td>{{ reactionGroup.id }}</td>
                <td> <button type = "button" ng-click="populateEditReactionGroup(reactionGroup)" >Edit</button> </td>
                <td>{{ reactionGroup.description}}</td>
            </tr> 
            </tbody>
            </table>
        </div> <!-- end of div row -->
    </div>  
    <!-- end of display of sections -->





    <!--
    Display Photolysis Sections
    -->
    <h4> Photolysis Sections </h4>
    <input class="btn btn-primary" 
            type="button" 
            value="Add" 
            ng-click="purpose='addPhotolysisGroup'"><br />

    <div>
        <div class="row col-md-12">
            <table class="table table-striped table-bordered" >
<!--
-->
            <thead>
                <th>ID</th>
                <th>Edit?</th>
                <th>Description</th>
            </thead>
<!--
-->
            <tbody>
            <tr ng-repeat="photolysisGroup in photolysisGroups">
                <td>{{ photolysisGroup.id }}</td>
                <td> <button type = "button" ng-click="populateEditPhotolysisGroup(photolysisGroup)" >Edit</button> </td>
                <td>{{ photolysisGroup.description}}</td>
            </tr>
            </tbody>
            </table>
        </div> <!-- end of div row -->
    </div>
    <!-- end of display of groups -->

