    <div class="btn-group" ng-show="editp==1">
        <label class="btn btn-primary" ng-model="purpose" btn-radio="'masterEdit'">Edit<br><br>Diagnostics</label>
        <label class="btn btn-primary" ng-model="purpose" btn-radio="'addSDiagnostics'">Add<br>Species-Level<br>Diagnostics</label>
        <label class="btn btn-primary" ng-model="purpose" btn-radio="'addRDiagnostics'">Add<br>Reaction-Level<br>Diagnostics</label>
    </div>
    <hr>

    <div ng-show="purpose=='addSDiagnostics' || purpose=='editSDiagnostics'">
        <form class="form-horizontal">
        <div class ="form-group">
            <label class="col-sm-3 control-label">Diagnostics Name:</label>
            <div class="col-sm-9 ">
                <input type="text" size=20 
                    ng-model="form.name" 
                    placeholder="Name"><br />
            </div>
        </div>
        <div class ="form-group">
            <label class="col-sm-3 control-label">Species 1:</label>
            <div class="col-sm-6 ">
                <select class="form-control" name="species1" id="species1" 
                        ng-model="form.species_id"
                        ng-mousedown="form.family_id=''"
                        ng-options="specie.id as specie.name for specie in species">
                </select>
            </div>
        </div>

        <div class ="form-group">
            <label class="col-sm-3 control-label">Family 1:</label>
            <div class="col-sm-6 ">
                <select class="form-control" name="family1" id="family1" 
                        ng-model="form.family_id"
                        ng-mousedown="form.species_id=''"
                        ng-options="family.id as family.name for family in families">
                </select>
            </div>
        </div>

        <div class ="form-group">
            <label class="col-sm-3 control-label">Species 2:</label>
            <div class="col-sm-6 ">
                <select class="form-control" name="species2" id="species2" 
                        ng-model="form.species_id2"
                        ng-mousedown="form.family_id2=''"
                        ng-options="specie.id as specie.name for specie in species">
                </select>
            </div>
        </div>

        <div class ="form-group">
            <label class="col-sm-3 control-label">Family 2:</label>
            <div class="col-sm-6 ">
                <select class="form-control" name="family2" id="family2" 
                        ng-model="form.family_id2"
                        ng-mousedown="form.species_id2=''"
                        ng-options="family.id as family.name for family in families">
                </select>
            </div>
        </div>
        {{form.name}}(ID:{{form.id}}) : {{form.family_id}}{{form.species_id}} + {{form.family_id2}}{{form.species_id2}}

        </form>
        <button ng-show="editp==1 && purpose == 'addSDiagnostics'" class="btn btn-success"  ng-click="create_sdiag()">Create</button>
        <button ng-show="editp==1 && purpose == 'editSDiagnostics'" class="btn btn-success" ng-click="modify_sdiag()">Commit</button>
        <button class="btn btn-success" 
           ng-show="['addSDiagnostics','editSDiagnostics'].indexOf(purpose)!== -1" 
           ng-click="reset_form()">Cancel</button>
    <hr>
    </div>

    <div ng-show="purpose=='addRDiagnostics' || purpose=='editRDiagnostics'">
        <form class="form-horizontal">
        <div class ="form-group">
            <label class="col-sm-3 control-label">Diagnostics Name:</label>
            <div class="col-sm-9 ">
                <input type="text" size=20 
                    ng-model="form.name" 
                    placeholder="Name"><br />
            </div>
        </div>
        <div class ="form-group">
            <label class="col-sm-3 control-label">Formula:</label>
            <div class="col-sm-9 ">
                <input type="text" size=20 
                    ng-model="form.formula" 
                    placeholder="Molecular formula"><br />
            </div>

        </div>
        <button ng-show="editp==1 && purpose == 'addRDiagnostics'" class="btn btn-success"  ng-click="create_rdiag()">Create</button>
        <button ng-show="editp==1 && purpose == 'editRDiagnostics'" class="btn btn-success" ng-click="modify_rdiag()">Commit</button>
        <button class="btn btn-success" 
           ng-show="['addRDiagnostics','editRDiagnostics'].indexOf(purpose)!== -1" 
           ng-click="reset_form()">Cancel</button>
        <hr>
    </div>

<div>
    <table class="table table-striped">
        <thead>
            <th> </th>
            <th>Name</th>
            <th> </th>
            <th>Family1</th>
            <th>Species1</th>
            <th> </th>
            <th>Family2</th>
            <th>Species2</th>
        </thead>
        <tbody>
            <tr ng-repeat="diagnostic in sdiagnosticsList"> 
                <td>
                    <a ng-show="editp==1" href="" ng-click="populateEditForm(diagnostic.id)">Edit</a> 
                    <a ng-show="editp!=1" href="" ng-click="populateEditForm(diagnostic.id)">Show</a> 
                </td>
                <td>{{ diagnostic.name }}</td>
                <td> | </td>
                <td>{{ diagnostic.fm1name }}</td>
                <td>{{ diagnostic.sp1name }}</td>
                <td> | </td>
                <td>{{ diagnostic.fm2name }}</td>
                <td>{{ diagnostic.sp2name }}</td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <table class="table table-striped">
        <thead>
            <th> </th>
            <th>Name</th>
            <th>Description</th>
            <th>Formula</th>
        </thead>
        <tbody>
            <tr ng-repeat="rdiagnostic in rdiagnosticsList"> 
                <td>
                    <button class="btn btn-default btn-sm" ng-click="populateEditFormR(rdiagnostic.id)">Edit</button>
                    <button class="btn btn-default btn-sm" ng-click="assignKineticCoeffs(rdiagnostic)">Assign to<br>Kinetics</button>
                    <button class="btn btn-default btn-sm" ng-click="assignPhotolysisCoeffs(rdiagnostic)">Assign to<br>Photolysis</button>
                </td>
                <td>{{ rdiagnostic.name }}</td>
                <td>{{ rdiagnostic.description }}</td>
                <td>{{ rdiagnostic.formula }}</td>
            </tr>
        </tbody>
    </table>
</div>

<div ng-show="purpose=='editRKDiags'">
    <hr>
    <table class="table table-striped table-bordered">
        <thead>
            <th>id</th>
            <th>Coeffient for {{selectedDiagnostic.name}}</th>
            <th>Reactants</th>
            <th>Products</th>
            <th>Rate</th>
            <th>Label</th>
            <th>cph </th>
        </thead>
        <tbody>
            <tr ng-repeat="kineticCoeff in kineticsCoeffList">
            <td>{{kineticCoeff.id}}</td>
            <td><input type="text" ng-model="kineticCoeff.coefficient"><button class="btn btn-sm" ng-click="commitKCoeff(selectedDiagnostic, kineticCoeff)">Commit</button></td>
            <td>{{kineticCoeff.reactantString}}</td>
            <td>{{kineticCoeff.productString}}</td>
            <td>{{kineticCoeff.rateString}}</td>
            <td>{{kineticCoeff.label}}</td>
            <td>{{kineticCoeff.cph}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div ng-show="purpose=='editPKDiags'">
    <hr>
    <table class="table table-striped table-bordered">
        <thead>
            <th>id</th>
            <th>Coeffient for {{selectedDiagnostic.name}}</th>
            <th>Molecule</th>
            <th>Rate</th>
            <th>Products</th>
        </thead>
        <tbody>
            <tr ng-repeat="photolysisCoeff in photolysisCoeffList">
            <td>{{photolysisCoeff.id}}</td>
            <td><input type="text" ng-model="photolysisCoeff.coefficient"><button class="btn btn-sm" ng-click="commitPCoeff(selectedDiagnostic, photolysisCoeff)">Commit</button></td>
            <td>{{photolysisCoeff.molecule}}</td>
            <td>{{photolysisCoeff.rate}}</td>
            <td>{{photolysisCoeff.productString}}</td>
            </tr>
        </tbody>
    </table>
</div>


