    <div class="btn-group" ng-show="editp==1">
        <label class="btn btn-primary" ng-model="purpose" btn-radio="'masterEdit'">Edit<br>Diagnostics</label>
        <label class="btn btn-primary" ng-model="purpose" btn-radio="'addDiagnostics'">Add New<br>Diagnostics</label>
    </div>
    <hr>

    <div ng-show="purpose=='addDiagnostics' || purpose=='editDiagnostics'">
        <form class="form-horizontal">
        <div class ="form-group">
            <label class="col-sm-3 control-label">Diagnostics Name:</label>
            <div class="col-sm-9 ">
                <input type="text" size=20 
                    ng-model="form.name" 
                    placeholder="Name"><br />
            </div>
        </div>
        <div class ="form-group">
            <label class="col-sm-3 control-label">Species 1:</label>
            <div class="col-sm-6 ">
                <select class="form-control" name="species1" id="species1" 
                        ng-model="form.species1"
                        ng-mousedown="form.family1=''"
                        ng-options="specie as specie.name for specie in species">
                </select>
            </div>
        </div>

        <div class ="form-group">
            <label class="col-sm-3 control-label">Family 1:</label>
            <div class="col-sm-6 ">
                <select class="form-control" name="family1" id="family1" 
                        ng-model="form.family1"
                        ng-mousedown="form.species1=''"
                        ng-options="family as family.name for family in families">
                </select>
            </div>
        </div>

        <div class ="form-group">
            <label class="col-sm-3 control-label">Species 2:</label>
            <div class="col-sm-6 ">
                <select class="form-control" name="species2" id="species2" 
                        ng-model="form.species2"
                        ng-mousedown="form.family2=''"
                        ng-options="specie as specie.name for specie in species">
                </select>
            </div>
        </div>

        <div class ="form-group">
            <label class="col-sm-3 control-label">Family 2:</label>
            <div class="col-sm-6 ">
                <select class="form-control" name="family2" id="family2" 
                        ng-model="form.family2"
                        ng-mousedown="form.species2=''"
                        ng-options="family as family.name for family in families">
                </select>
            </div>
        </div>
        {{form.name}} : {{form.family1.name}}{{form.species1.name}} + {{form.family2.name}}{{form.species2.name}}

        </form>
        <button ng-show="editp==1 && purpose == 'addDiagnostics'" class="btn btn-success"  ng-click="create_diagnostics()">Create<br>This<br>Diagnostics</button>
        <button ng-show="editp==1 && purpose == 'editDiagnostics'" class="btn btn-success" ng-click="modify_diagnostics()">Commit<br>Change</button>
        <button class="btn btn-success" 
           ng-show="purpose=='addDiagnostics' || purpose=='editDiagnostics'" 
           ng-click="reset_form()">Cancel</button>
    <hr>
    </div>

<div>Filter:
    <input type="text" ng-model="name_filter" ng-change="filter()" placeholder="Name Substring" class="form-control" />
</div>
<h6 align="left">Filter found {{ filtered.length }} Diagnostics of the {{ totalItems }} in the Database</h6>

<div>
    <table class="table table-striped">
        <thead>
            <th> </th>
            <th>Name</th>
            <th>Family1</th>
            <th>Species1</th>
            <th>Family2</th>
            <th>Species2</th>
        </thead>
        <tbody>
            <tr ng-repeat="diagnostics in sdiagnosticsList"> 
                <td>
                    <a ng-show="editp==1" href="" ng-click="populateEditForm(diagnostics)">Edit</a> 
                    <a ng-show="editp!=1" href="" ng-click="populateEditForm(diagnostics)">Show</a> 
                </td>
                <td>{{ diagnostics.name }}</td>
                <td>{{ diagnostics.family_id }}</td>
                <td>{{ diagnostics.species_id }}</td>
                <td>{{ diagnostics.family_id2 }}</td>
                <td>{{ diagnostics.species_id2 }}</td>
            </tr>
        </tbody>
    </table>
</div>
