.layoutFam {
  height: 100vh;
  width: 100vw;

  display: grid;
  grid-template-areas: 
    "header header header"
    "familyMenu speciesReactions speciesReactions"
    "footer footer footer";
  grid-template-rows: auto 1fr auto; /* auto for headers, 1fr for middle */
  grid-template-columns: 1fr 2fr; /* 1/3 and 2/3 for the middle sections */
  /* gap: 8px; */
  background-color: #C3D7EE;
}
  


.headerBar { grid-area: header;}
.familiesMenu { grid-area: familyMenu;}
.speciesReactions {grid-area: speciesReactions;}
.footerBar { grid-area: footer;}


.modal-visible {
  position: absolute;
  animation: slideIn 2.5s cubic-bezier(0,-0.01,.01,1) infinite;
}

.modal-hidden {
  display: none;
}

@keyframes slideIn {
  from {
    left: -10%;
  }
  to {
    left: 0%;
  }
}

