    <div >
        <p> Select two items to compare </p>
    </div>

    <!--
    Display Tags      
    -->
    <div >
        <h3> Tags </h3> <input type="text" ng-model="name_filter" ng-change="filter()" placeholder="Tag Filter" >
            <h6 align="left">Showing {{ filtered.length }}/{{ tagArray.length }} of the Tags in the Database</h4>
        <br/>


        <div class="row"> <div class="col-md-12">
            <table class="table table-striped table-bordered" >
            <thead>
                <th >Select</th>
                <th >User Tag Name</th>
                <th >Buggy<br>OK</th>
                <th >Source<br>Branch</th>
                <th >Tagger</th>
                <th >Date Created</th>
            </thead>
            <tbody> 
            <tr ng-repeat="tag in filtered 
                            = (tagArray
                            | filter:name_filter) ">
                <td >
                    <button type = "submit" 
                        ng-click="selectTag(tag)" >
                        Select
                    </button>
                </td>
                <td>{{ tag.given_name }}</td>
                <td>{{ tag.buggy ? "Buggy" : "OK"}}</td>
                <td>{{ tag.branchname }}</td>
                <td>{{ tag.initials }}</td>
                <td>{{ tag.date | date :'yyyy-MM-dd'}}</td>
            </tr> 
            </tbody>
            </table>
            </div> 
        <div class="col-md-12" ng-show="filteredItems == 0"> 
            <h4>Tags loading.... </h4> 
            </div> 
        </div> </div> <!-- row, col-md-12 -->

    </div>  <!-- tags -->

    <!--
    Display Mechanisms
    -->
    <div >
        <h3> Mechanisms </h3> <input type="text" ng-model="br_name_filter" ng-change="filter()" placeholder="Branch Filter" >
            <h6 align="left">Showing {{ branchArray.length }} Mechanisms in the Database</h4>
        <br/>

        <div class="row"> <div class="col-md-12">
            <table class="table table-striped table-bordered" >
            <thead>
                <th >Select</th>
                <th >Branch Name</th>
            </thead>
            <tbody> 
            <tr ng-repeat="branch in filtered 
                            = (branchArray
                            | filter:br_name_filter) ">
                <td >
                    <button type = "submit" 
                        ng-click="selectBranch(branch)" >
                        Select
                    </button>
                </td>
                <td>{{ branch.name }}</td>
            </tr> 
            </tbody>
            </table>
            </div> <!-- end of div class col-md-12 --> </div> <!-- end of div row -->
        <div class="col-md-12" ng-show="filteredItems == 0"> 
            <h4>Mechanisms loading.... </h4> 
            </div> 
        </div>  </div><!-- branches -->

     </div>

    <hr>

    <!--
    Display reactions
    -->
    <h4>{{selections[0].type}} "{{selections[0].name}}" </h4>
    <h4>__VS__ </h4>
    <h4>{{selections[1].type}} "{{selections[1].name}}"</h4>
    <div ng-show="numberSelected >= 2">
        <br/>

        <h2> Only {{reactions_left.length}} unique to {{selections[0].name}}</h2>
        <div class="row"> <div class="col-md-12">
            <table class="table table-striped table-bordered" >
            <thead>
<!--                <th>ID</th> <th>brarr</th> -->
                <th>Label</th> <th>Reactants</th> <th>Products</th> <th>Rate</th> <th>Chem<br>Potential<br>Heat</th> 
            </thead>
            <tbody>
            <tr ng-repeat="left_true in reactions_left">
<!--                <td>{{ left_true.id }}</td><td>{{ left_true.branchIdArray}}</td> -->
                <td>{{ left_true.label }}</td> <td>{{ left_true.reactantString }}</td> 
                <td>{{ left_true.productString }}</td> <td>{{ left_true.rateString }}</td> <td>{{ left_true.cph }}</td> 
            </tr>
            </tbody>
            </table>
        </div> <!-- end of div class col-md-12 --> </div> <!-- end of div class row -->

        <h2> Only {{reactions_rght.length}} unique to{{selections[1].name}}</h2>
        <div class="row"> <div class="col-md-12">
            <table class="table table-striped table-bordered" >
            <thead>
<!--                <th>ID</th> <th>brarr</th> -->
                <th>Label</th> <th>Reactants</th> <th>Products</th> <th>Rate</th> <th>Chem<br>Potential<br>Heat</th> 
            </thead>
            <tbody>
            <tr ng-repeat="rght_true in reactions_rght">
<!--                <td>{{ rght_true.id }}</td><td>{{ rght_true.branchIdArray}}</td> -->
                <td>{{ rght_true.label }}</td> <td>{{ rght_true.reactantString }}</td> 
                <td>{{ rght_true.productString }}</td> <td>{{ rght_true.rateString }}</td> <td>{{ rght_true.cph }}</td> 
            </tr>
            </tbody>
            </table>
        </div> <!-- end of div class col-md-12 --> </div> <!-- end of div class row -->

        <h2> {{reactions_both.length}} reactions in both </h2>
        <div class="row"> <div class="col-md-12">
            <table class="table table-striped table-bordered" >
            <thead>
<!--                <th>ID</th> <th>brarr</th> -->
                <th>Label</th> <th>Reactants</th> <th>Products</th> <th>Rate</th> <th>Chem<br>Potential<br>Heat</th> 
            </thead>
            <tbody>
            <tr ng-repeat="both_true in reactions_both">
<!--                <td>{{ both_true.id }}</td><td>{{ both_true.branchIdArray}}</td> -->
                <td>{{ both_true.label }}</td> <td>{{ both_true.reactantString }}</td> 
                <td>{{ both_true.productString }}</td> <td>{{ both_true.rateString }}</td> <td>{{ both_true.cph }}</td> 
            </tr>
            </tbody>
            </table>
        </div> <!-- end of div class col-md-12 --> </div> <!-- end of div class row -->

    </div> 

